@font-face {
	font-family: "JetBrains Mono";
	src: url("./JetBrainsMono.ttf");
}

@font-face {
	font-family: pop;
	src: url("./Poppins-Regular.otf");
}

@font-face {
	font-family: 'sp-blod';
	src: url("./sp-blod.woff2");

}

@font-face {
	font-family: "sip";
	src: url("./sp.woff2");
}

html {
	font-size: 16px;
}