/* stylelint-disable rule-empty-line-before */
:-webkit-scrollbar {
	width: 0 !important;
}

body {
	-ms-overflow-style: none;

	/* Internet Explorer 10+ */
	scrollbar-width: none;
	overflow: -moz-scrollbars-none;
	overflow-y: scroll;
	font-family: Inter, sans-serif;
	// -webkit-font-smoothing: antialiased;
	// -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
	width: 0;
	height: 0;
}

// 解决 h1 标签在 webkit 内核浏览器中文字大小失效问题
/* :-webkit-any(article, aside, nav, section) h1 {
	font-size: 2em;
} */

/* 
::-webkit-scrollbar {
   width: 6px;
}

::-webkit-scrollbar-thumb {
   background-color: #0003;
   border-radius: 10px;
 }
::-webkit-scrollbar-track {
  border-radius: 22px;
  } 
*/

.is-link {
	text-decoration: none;
	color: #1677ff;
	background-color: transparent;
	outline: none;
	transition: color 0.3s;
	cursor: pointer;
	&:hover {
		color: #69b1ff;
	}
}

.br-8 {
	border-radius: 8px;
}

.dialog-label {
	display: flex;
	gap: 0.25rem;
	align-items: center;
	margin-bottom: 0.25rem;
	font-weight: 550;
	color: rgb(0 0 0 / 0.88);
}

.alert-base {
	display: flex;
	align-items: center;
	padding: 8px 12px;
	font-size: 14px;
	color: rgb(0 0 0 / 0.8);
	border-radius: 8px;
	list-style: none;
	line-height: 1.58rem;
	word-wrap: break-word;

	&.info {
		background-color: #e6f4ff;
		border: 1px solid #91caff;
	}

	&.danger {
		background-color: #fef2f2;
		border: 1px solid #fecaca;
	}
}

.section-connect {
	display: grid;
	padding: 1rem;
	border-width: 1px;
	border-color: rgb(228 228 231 / var(--tw-border-opacity));
	border-radius: 0.5rem;
	gap: 1rem;

	--tw-border-opacity: 1;
}

@media (width >= 640px) {
	.section-connect {
		padding: 1.75rem 2rem;
	}
}

/* ---------- Element-Plus Style Start----------- */

// 设置 notification/message 层级在 loading 之上
.el-message,
.el-notification {
	z-index: 99999 !important;
}

.el-statistic__head {
	font-size: 15px !important;
	opacity: 0.6;
}

/* ---------- Element-Plus Style End----------- */

.s-running {
	position: relative;
	z-index: 3;
	width: 7px;
	height: 7px;
	color: #67c23a;
	background-color: #67c23a;
	border-radius: 50%;

	&::before {
		position: absolute;
		top: -7px;
		left: -7px;
		width: 21px;
		height: 21px;
		background-color: #67c23a;
		border-style: solid;
		border-width: 0;
		border-color: currentColor;
		border-radius: 50%;
		box-sizing: border-box;
		content: "";
		animation: scaleAnimate 1.5s ease-out infinite;
	}
}

/* stylelint-disable-next-line keyframes-name-pattern */
@keyframes scaleAnimate {
	0% {
		opacity: 0;
		transform: scale(0);
	}

	50% {
		opacity: 0.4;
	}

	100% {
		opacity: 0;
		transform: scale(1);
	}
}

.ly-tag {
	display: inline-block;
	height: auto;
	font-size: 12px;
	white-space: nowrap;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	list-style: none;
	transition: all 0.3s;
	box-sizing: border-box;
	padding-inline: 7px;
	margin-inline-end: 8px;
	line-height: 20px;
	&.success {
		color: #52c41a;
		background: #f6ffed;
		border-color: #b7eb8f;
	}
	.error {
		color: #ff4d4f;
		background: #fff2f0;
		border-color: #ffccc7;
	}

	.warring {
		color: #d46b08;
		background: #fff7e6;
		border-color: #ffd591;
	}
}

.m-inline-auto {
	margin-inline-start: auto;
	margin-inline-end: auto;
}
.m-start-auto {
	-webkit-margin-start: auto;
	margin-inline-start: auto;
}
.m-end-auto {
	-webkit-margin-end: auto;
	margin-inline-end: auto;
}
