@font-face {
	font-family: "Airbnbcereal";
	font-style: normal;
	font-weight: 500;
	src: url("https://assets.website-files.com/62865614b39c464b76d339aa/62865861d67a0aea07762bd6_AirbnbCereal-Medium.ttf")
		format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Airbnbcereal book";
	font-style: normal;
	font-weight: 400;
	src: url("https://assets.website-files.com/62865614b39c464b76d339aa/62865861d2ab43ddc41db7c4_AirbnbCereal-Book.ttf")
		format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Airbnbcereal";
	font-style: normal;
	font-weight: 700;
	src: url("https://assets.website-files.com/62865614b39c464b76d339aa/62865860d21a6ceaa9f34365_AirbnbCereal-Bold.ttf")
		format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Airbnbcereal";
	font-style: normal;
	font-weight: 800;
	src: url("https://assets.website-files.com/62865614b39c464b76d339aa/62865860f18dc87b3d84f64a_AirbnbCereal-ExtraBold.ttf")
		format("truetype");
	font-display: swap;
}

#home-page {
	--ly-main-bg: #050505;
	--my-bg-light: #050505;
	--my-text-color: #e3e3e3;
	--my-text-main-color: #ffffff;
}

#home-page {
	font-family: "Airbnbcereal", sans-serif;
	background-color: #050505;
}

.text-block {
	background-image: linear-gradient(90deg, #f926e1, #2ab5fb);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.cardContent {
	display: flex;
	justify-content: center;
	align-items: stretch;
	margin-top: 72px;
	margin-bottom: 120px;
	width: 100%;
	grid-gap: 30px 50px;

	.cardItem {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;
		background-color: var(--my-bg-light);
		border-radius: 12px;
		/* stylelint-disable-next-line color-function-notation */
		box-shadow: 0 4px 64px 0 rgba(0, 0, 0, 0.02);
		flex-direction: column;
		grid-gap: 24px;
	}

	.cardBox {
		display: flex;
		align-items: center;
		padding: 2.5rem;
		width: 100%;
		height: 100%;
		background-color: var(--my-bg-light);
		border-radius: 10px;
		flex-direction: column;
		grid-gap: 24px;
	}
}

.gradient-border {
	padding: 3px;
	/* stylelint-disable-next-line color-function-notation */
	background-image: linear-gradient(
		90.27deg,
		rgb(249 38 225 / 0.12) 0.22%,
		rgb(42 181 251 / 0.12) 99.76%
	);
}

.ly-box {
	@apply relative z-10 pt-32 pb-32 text-center;

	overflow: hidden;
	background: #050505;
	.top-rect {
		position: absolute;
		top: 0;
		left: calc(50% - 3000px / 2);
		z-index: -1;
		width: 3000px;
		height: 1400px;
		background: linear-gradient(180deg, #171717 0%, #050505 40%);
		border-radius: 100% 100% 0% 0%;
	}
	.content {
		@apply container mx-auto px-8;
	}
}

/* ============ index.vue styles Start ========= */

@mixin center {
	position: absolute;
	inset: 0;
	margin: auto;
}

.navbar-pc {
	@apply container mx-auto px-4;

	.nav-box {
		border-color: hsl(0deg 0% 100% / 0.1);
		box-shadow: 0 1px 2px 0 #0000001a;

		@apply flex justify-between items-center border-b py-6 md:justify-start md:space-x-10;

		.logo {
			@apply flex justify-start lg:w-0 lg:flex-1;

			img {
				@apply h-8 w-auto sm:h-8;
			}
		}

		.nav-group {
			@apply hidden md:flex space-x-10;
		}

		.conlose {
			@apply hidden md:flex items-center justify-end md:flex-1 lg:w-0;
		}
	}
}

.cos-btn-home {
	padding: 2px;
	text-decoration: none;
	cursor: pointer;
	background-color: rgb(255 255 255 / 0);
	background-image: linear-gradient(90deg, #f926e1, #2ab5fb);
	border-radius: 46px;
	transition: transform 0.2s ease;

	&:active {
		transform: scale(0.96);
	}

	.button-space {
		display: flex;
		padding: 11px 23px;
		background-color: #000000;
		border-radius: 46px;

		&:hover {
			background-image: linear-gradient(280deg, #f926e1, #2ab5fb);

			.text-block {
				color: #ffffff;
				background-color: #ffffff;
				background-image: none;
			}
		}
	}

	.text-block {
		margin-right: 10px;
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
	}
}

.nav-link {
	@apply inline-flex items-center;

	padding: 12px 18px;
	font-size: 18px;
	font-family: "Airbnbcereal", sans-serif;
	color: #ffffff;
	background-color: transparent;
	font-weight: 700;
	line-height: 24px;

	&:hover,
	&:focus {
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	&:hover {
		background-image: linear-gradient(90deg, #f926e1, #2ab5fb);
	}

	&:focus {
		background-image: linear-gradient(90deg, #f926e1, #28d5fb);
	}
}
.navbar-mb {
	@apply absolute top-[80px] inset-x-0 py-6 transition transform origin-top-right md:hidden;

	.nav-mb-box {
		@apply rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50 px-6;
		background-color: var(--my-bg-light);
	}

	.nav-list {
		@apply pb-8 px-3 space-y-6;

		.cls {
			@apply w-full flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700;
		}
	}
}

.play-btn {
	@apply mx-auto;
	@apply transition duration-300 ease-in-out transform;

	display: inline-flex;
	padding: 1rem 2.2rem;
	width: auto;
	font-size: 16px;
	font-family: "Airbnbcereal", sans-serif;
	text-align: center;
	text-decoration: none;
	white-space: normal;
	color: #ffffff;
	background-color: #3898ec;
	background-clip: border-box;
	border: 0;
	border-radius: 100px;
	font-weight: 700;
	line-height: inherit;
	cursor: pointer;

	// transition: all 0.5s ease-in-out;
	background-image: linear-gradient(90.27deg, #f926e1 0.22%, #2ab5fb 99.76%);
	-webkit-text-fill-color: inherit;
	object-fit: fill;

	&:hover {
		@apply scale-[1.05];

		background-image: linear-gradient(
				180deg,
				rgb(0 0 0 / 0.2),
				rgb(0 0 0 / 0.2)
			),
			linear-gradient(90.27deg, #f926e1 0.22%, #2ab5fb 99.76%);
	}

	&:active {
		@apply scale-90;
	}
}

.sunsetWrapper {
	overflow: visible;
	padding-top: 8rem;
	margin-top: 0;
	background-color: var(--my-bg-light);

	.eclipsingBlockContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: auto;
		padding-top: 64px;
		padding-bottom: 73px;
		margin-top: 0;
		width: 100%;
		height: auto;
		flex-direction: column;
		grid-gap: 2.5rem;

		.textBlock39 {
			width: 600px;
			font-size: 16px;
			text-align: center;
			color: #ffffff;
			line-height: 22px;
		}

		.textBlock40 {
			margin-top: -16px;
			font-size: 16px;
			font-weight: 700;
			color: #ffffff;
			background-color: var(--my-bg-light);
			background-image: linear-gradient(90deg, #f926e1, #2ab5fb);
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	.hdClients {
		position: relative;
		z-index: 0;
		overflow: visible;
		background-color: var(--my-bg-light);

		.divBlock70 {
			position: relative;
			z-index: 1;
			clear: none;
			overflow: hidden;
			margin: -2% 0 2px;
			width: 100%;
			height: 280px;
			background-color: var(--my-bg-light);
			border-radius: 100% 100% 0 0;
		}
	}

	.sunset {
		position: absolute;
		z-index: -1;
		overflow: visible;
		width: 100%;
		background-color: var(--my-bg-light);
		inset: 0;
	}

	.sunsetEclipse {
		position: absolute;
		width: 43.75%;
		height: 100px;
		color: transparent;
		opacity: 0.48;
		filter: blur(100px);
		inset: 0 0 0 27%;
		background-image: linear-gradient(90.27deg, #f926e1 0.22%, #2ab5fb 99.76%);
	}
}

.check-menu {
	button {
		@apply rounded-md p-2 inline-flex items-center justify-center text-white hover:text-blue-400   focus:outline-none focus:ring-1 focus:ring-inset focus:ring-blue-400;

		svg {
			@apply h-6 w-6;
		}
	}
}

/* ============ index.vue styles End ========= */
